img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article blockquote {
    color: #1FA292;
    font-family: 'Open Sans', sans-serif;
}

li {
    margin-bottom: 10px;
}

p code, li code {
    font-size: 0.8em;
    vertical-align: middle;
    color: #2c3e50;
}
