<section>
    <div class="alert alert-secondary">
        <h5 class="alert-heading">Serverless PHP training</h5>
        <p style="font-size: 17px">
            I am running a 2 days workshop to train developers to configure, deploy and monitor serverless applications.
        </p>
        <p style="font-size: 17px">
            Join the workshop and learn how to build simple and modern applications
            <strong>from scratch to production</strong> on AWS.
        </p>
        <p>
            <a class="btn btn-outline-primary" href="https://training.bref.sh/?utm_source=mnapoli.fr&utm_medium=banner&utm_campaign=workshop" title="Serverless PHP training">Learn more about Serverless PHP workshops</a>
        </p>
    </div>
</section>
