{% extends 'base.html.twig' %}

{% set metaTitle = 'Page not found' %}

{% block body %}

    <header class="home-header clearfix">
        <h1>Page not found</h1>

        <p>The page you were looking for was not found :(</p>

        <p><a href="/">Back to the home page</a></p>
    </header>

{% endblock %}
